
@{
    ViewBag.Title = "Pocetna1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

<h2>OVdje je nasa pocetna stranica jupiiiiiiiiiii jea! </h2>
<div>jos moram uraditi dizajna ovo je samo okvir...
    <ul>
    <li>uraditi dizajn za testove</li>
    <li>evidencija bi treala vracati povratne podatke kada se spojimo na bazu, ovaj dio u petak</li>
        <li>jos bla bla.. sminke oko dizajna</li>
        <li> trebamo smislit o tome kako da napravimo neki kod koje ce omoguciti razlicitu vidjivost</li>
    </ul></details></div>

</div>
