
@{
    ViewBag.Title = "Pocetna1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="~/Content/img/slike/slika1res.jpg" alt="Flower" width="900" height="450" class="slide">
               
                <div class="carousel-caption">
                    
                    <p>Avacom.com</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/slike/slika3res.jpg" alt="Flower" width="900" height="450" class="slide">
               
                <div class="carousel-caption">
                  
                    <p>Sigurnost i kvaliteta</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/slike/slika2res.jpg" alt="Flower" width="900" height="450" class="slide">
              
                <div class="carousel-caption">
                
                    <p>Vama na usluzi</p>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


<div class="jumbotron">

<h2>OVdje je nasa pocetna stranica jupiiiiiiiiiii jea! </h2>
<div>jos moram uraditi dizajna ovo je samo okvir...
    <ul>
    <li>uraditi dizajn za testove</li>
    <li>evidencija bi treala vracati povratne podatke kada se spojimo na bazu, ovaj dio u petak</li>
        <li>jos bla bla.. sminke oko dizajna</li>
        <li> trebamo smislit o tome kako da napravimo neki kod koje ce omoguciti razlicitu vidjivost</li>
    </ul></details></div>

</div>
