
@{
    ViewBag.Title = "Testovi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Testovi</h2>
<div class="bs-example">
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary">Obrasci</button>
        <button type="button" class="btn btn-primary">Ankete</button>
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Kategorije Testova<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Kategorija1</a></li>
                <li><a href="#">Kategorija 2</a></li>
                <li class="divider"></li>
                <li><a href="#">Testovi</a></li>
            </ul>
        </div>
    </div>
</div>
    
</table>

