

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="header">
        <div class="btn btn-primary btn-md"> <h1 style="color:azure">Online Testiranje - Ava.com</h1></div>


        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="poc.html">POČETNA</a></li>
                <li><a href="INFORMACIJE.html">INFORMACIJE</a></li>
                <li><a href="EDUKACIJE.html">EDUKACIJE</a></li>
                <li><a href="TESTOVI.html">TESTOVI</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Views/Registracija/Index.cshtml"></a> <span class="glyphicon glyphicon-log-in"></span> PRIJAVA</a></li>
            </ul>
    </div>
    </div>

    <div class="footer">
        <div class="container">
            <p class="pull-right"><a href="poc.html">Povrat na vrh</a></p>
            <p>&copy; 2015 Tim-Ava.com &middot; <a href="INFORMACIJE.html">O nama</a></p>
        </div>

    </div>

</body>
</html>