
@{
    ViewBag.Title = "Informacije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacije</h2>
<p>sve sto vas zanima o nama napisat ce mo ovdje a to ce nas dragi kolega Sanjin osmisliti tekst za ovaj dio jer on i komunikcija su dva brata ;)</p>
